<section id="certificates" class="container my-5">
  <h2 class="text-center fw-bold mb-4">📜 Certifications</h2>
  <div class="row g-4">

    <!-- Certificate Card -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-sm h-100">
        <img src="/Full stack.jpg" class="card-img-top" alt="Web dev Bootcamp Certificate">
        <div class="card-body">
          <h5 class="card-title">Full Stack Web Development</h5>
          <p class="card-text">Completed from Udemy – learned Frontent and Backend</p>
          <a href="/Full stack.jpg" target="_blank" class="btn btn-outline-primary btn-sm">View Full Certificate</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card shadow-sm h-100">
        <img src="/python.jpg" class="card-img-top" alt="Python Bootcamp Certificate">
        <div class="card-body">
          <h5 class="card-title">Fundamentals of Python</h5>
          <p class="card-text">Completed from Great Learning – learned Python, OOP and more.</p>
          <a href="/python.jpg" target="_blank" class="btn btn-outline-primary btn-sm">View Full Certificate</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card shadow-sm h-100">
        <img src="/RPA.jpg" class="card-img-top" alt="automation Bootcamp Certificate">
        <div class="card-body">
          <h5 class="card-title">RPA Automation</h5>
          <p class="card-text">Completed from Udemy – learned Python, automation, and more.</p>
          <a href="/RPA.jpg" target="_blank" class="btn btn-outline-primary btn-sm">View Full Certificate</a>
        </div>
      </div>
    </div>

    


  
  </div>
</section>
