<section id="contact" class="container my-5 text-center">
  <h2 class="fw-bold mb-4"> Contact Me</h2>
  <p class="mb-4">Feel free to reach out to me via email or find me on GitHub and LinkedIn!</p>

  <a href="mailto:24a22.ananya@sjec.ac.in" class="mx-3 fs-3 text-dark" title="Email">
    <i class="fas fa-envelope"></i>
  </a>
  <a href="https://github.com/ananya-asa" target="_blank" class="mx-3 fs-3 text-dark" title="GitHub">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/ananya-a-s-a-285305358/" target="_blank" class="mx-3 fs-3 text-dark" title="LinkedIn">
    <i class="fab fa-linkedin"></i>
  </a>
</section>