<section id="education" class="container my-5">
  <h2 class="text-center fw-bold mb-4"> Education</h2>
  <div class="text-center">
    <h5 class="fw-bold mb-1">Bachelor of Engineering in Computer Science</h5>
    <p class="mb-1">St. Joseph Engineering College, Mangaluru</p>
    <p class="mb-1"> 2024 – 2028 (Ongoing)</p>
    <p class="mb-1"> CGPA:9.8</p>

    <p class="text-muted">Currently in 2nd semester – building skills in programming, cybersecurity, IoT, and more.</p>
  </div>
</section>
