<footer class="bg-dark text-white text-center py-2 fixed-bottom shadow">
  <div class="container">
    <small>
      © 2025 Ananya Asa. All rights reserved.
      &nbsp;|&nbsp;
      <a href="#intro" class="text-white text-decoration-none">Back to Top</a>
    </small>
  </div>
</footer>
